<a href="https://colab.research.google.com/github/lupis30puc/big_data_practice/blob/master/Copia_de_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files
from google.colab import drive
import plotly.graph_objects as go
import plotly.express as px
import re
from math import*
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
!pip install geolocation-python
!pip install -U googlemaps
import googlemaps

Requirement already satisfied: geolocation-python in /usr/local/lib/python3.6/dist-packages (0.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from geolocation-python) (47.3.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from geolocation-python) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->geolocation-python) (2020.4.5.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->geolocation-python) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->geolocation-python) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->geolocation-python) (1.24.3)
Requirement already up-to-date: googlemaps in /usr/local/lib/python3.6/dist-packages (4.4.1)
Requirement already satisfied, skipping upgrade: requests<3.0,>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from googlemaps) (2.23.0)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.9)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2020.4.5.2)

In [ ]:
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
DIR = '/content/drive/My Drive/Big Data project/'

In [ ]:
production = pd.read_csv(DIR + 'Crops_FAOSTAT_data_6-17-2020.csv')
trade_agg = pd.read_csv(DIR + 'Crops and livestock products_FAOSTAT_data_6-17-2020.csv')
trade = pd.read_csv(DIR + 'Detailed trade matrix_FAOSTAT_data_6-17-2020.csv')

In [ ]:
storageday = pd.read_excel(DIR + 'storageday.xlsx')

In [ ]:
production = production.fillna(0)
trade_agg = trade_agg.fillna(0)
trade = trade.fillna(0)

**Fruit Trade Basic_trade_agg**

In [ ]:
fruit = trade_agg.copy()
fruit = fruit.drop(columns=['Domain','Area','Year','Unit','Note'])
fruit = fruit.groupby(['Item','Element']).sum().unstack()
fruit.columns = fruit.columns.droplevel(0)
fruit = fruit.merge(production, how = 'left', on = 'Item'	)
fruit =  fruit.drop(columns=['Domain','Element','Area','Year','Unit','Note'])
fruit = fruit.fillna(0)

In [ ]:
storageday

                      Item distinct  ...  cargo ships ability
0                            Apples  ...          cargo ships
1                          Apricots  ...           airfreight
2                          Avocados  ...          cargo ships
3                           Bananas  ...          cargo ships
4                       Blueberries  ...           airfreight
5                          Cherries  ...          cargo ships
6                          Coconuts  ...          cargo ships
7                       Cranberries  ...          cargo ships
8            Cucumbers and gherkins  ...           airfreight
9                             Dates  ...          cargo ships
10                             Figs  ...           airfreight
11        Grapefruit (inc. pomelos)  ...          cargo ships
12                           Grapes  ...          cargo ships
13                       Kiwi fruit  ...          cargo ships
14                 Lemons and limes  ...          cargo ships
15     Mangoes, mangosteens, guavas  ...           airfreight
16  Melons, other (inc.cantaloupes)  ...          cargo ships
17                          Oranges  ...          cargo ships
18                          Papayas  ...          cargo ships
19           Peaches and nectarines  ...           airfreight
20                            Pears  ...          cargo ships
21                       Pineapples  ...          cargo ships
22                  Plums and sloes  ...          cargo ships
23                     Strawberries  ...           airfreight
24                         Tomatoes  ...          cargo ships
25                      Watermelons  ...          cargo ships

[26 rows x 3 columns]

In [ ]:
fruit['Maximum endurance time(day)'] = storageday['In container up to (day)'].apply(lambda x: x )

In [ ]:
fruit['prefer long-dis transport'] = fruit['Maximum endurance time(day)'].apply( lambda x: 'by air' if x < 20 else 'by sea')

In [ ]:
fruit.head()

          Item  ...  prefer long-dis transport
0       Apples  ...                     by sea
1     Apricots  ...                     by air
2     Avocados  ...                     by sea
3      Bananas  ...                     by sea
4  Blueberries  ...                     by air

[5 rows x 6 columns]

**Import and Export by country**

In [ ]:
country_trade = trade.copy() 	
country_trade = country_trade.drop(columns=['Domain','Reporter Countries','Year','Unit','Note'])

In [ ]:
country_trade = country_trade.drop(index = country_trade[country_trade['Partner Countries'] == 'Unspecified Area'].index)

In [ ]:
country_export = country_trade[country_trade['Element'] == 'Export Quantity'].drop(columns = 'Element')
country_import = country_trade[country_trade['Element'] == 'Import Quantity'].drop(columns = 'Element')

In [ ]:
country_export = country_export.groupby(['Partner Countries','Item']).sum().unstack()
country_export.columns = country_export.columns.droplevel(0)
country_export = country_export.fillna(0)

In [ ]:
country_import = country_import.groupby(['Partner Countries','Item']).sum().unstack()
country_import.columns = country_import.columns.droplevel(0)
country_import = country_import.fillna(0)

In [ ]:
country_export.head(3)

Item               Apples  Apricots  ...  Tomatoes  Watermelons
Partner Countries                    ...
Afghanistan           0.0       0.0  ...       0.0          0.0
Albania               0.0       0.0  ...       0.0         16.0
Armenia               0.0       0.0  ...       0.0          0.0

[3 rows x 26 columns]

In [ ]:
country_import.head(3)

Item               Apples  Apricots  ...  Tomatoes  Watermelons
Partner Countries                    ...
Albania             132.0       0.0  ...     106.0        133.0
Algeria               0.0       0.0  ...       0.0          0.0
Argentina           444.0       0.0  ...       0.0          0.0

[3 rows x 26 columns]

**Country info**

In [ ]:
ct_list = country_trade['Partner Countries'].unique()

In [ ]:
ct_list

array(['Albania', 'Argentina', 'Austria', 'Belgium',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Chile', 'Croatia',
       'Cyprus', 'Czechia', 'Denmark', 'France', 'Greece', 'Hungary',
       'Ireland', 'Italy', 'Lithuania', 'Luxembourg', 'Netherlands',
       'New Zealand', 'North Macedonia', 'Poland', 'Romania', 'Serbia',
       'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Switzerland',
       'Turkey', 'United Kingdom', 'Australia', 'Israel', 'Portugal',
       'Sweden', 'Tunisia', 'Dominican Republic', 'Ghana', 'Kenya',
       'Mexico', 'Morocco', 'Peru', 'Sri Lanka', 'Thailand', 'Uganda',
       'United States of America', 'Colombia', 'Costa Rica',
       "Côte d'Ivoire", 'Ecuador', 'Estonia', 'Finland', 'Guatemala',
       'Honduras', 'Nicaragua', 'Panama', 'Latvia', 'Canada', 'India',
       'Indonesia', 'Malta', 'Philippines', 'Viet Nam', 'Uruguay',
       'Egypt', 'Jordan', 'Algeria', 'Bahrain', 'China, mainland',
       'Iran (Islamic Republic of)', 'Kuwait', 'Lebanon', 'Libya',
       'Pakistan', 'Palestine', 'Qatar', 'Saudi Arabia',
       'United Arab Emirates', 'El Salvador', 'Namibia', 'Bangladesh',
       'Burkina Faso', 'Iraq', 'Somalia', 'Cameroon',
       "Lao People's Democratic Republic", 'Malaysia', 'Senegal',
       'Venezuela (Bolivarian Republic of)', 'Kazakhstan', 'Uzbekistan',
       'Haiti', 'United Republic of Tanzania', 'Zimbabwe', 'Jamaica',
       'Republic of Korea', 'Mauritius', 'Togo', 'Republic of Moldova',
       'Ukraine', 'Montenegro', 'French Polynesia', 'Norway', 'Oman',
       'Singapore', 'China, Hong Kong SAR', 'Afghanistan', 'Gambia',
       'Iceland', 'Maldives', 'Mali', 'Russian Federation', 'Armenia',
       'Azerbaijan', 'Taiwan', 'Georgia', 'Japan', 'Mongolia', 'Nigeria',
       'Paraguay', 'Belarus'], dtype=object)

In [ ]:
country = pd.DataFrame({"country":ct_list,"abv":0,"transport":0})

In [ ]:
country['abv'] = country['country'].map(lambda x: re.sub(u'\(+.+\)', string = x,repl = ''))

In [ ]:
abv = country['abv'].unique()

In [ ]:
google_maps = googlemaps.Client(key="AIzaSyAJb_h-ZNr7unEhDjGxHhwys96l5nHpQv0")

In [ ]:
test = []

for ct in abv:
    try:
      geocode = google_maps.geocode(ct)
      loc = geocode[0]["geometry"]['location']
      name = geocode[0]['formatted_address']
      test.append([name,loc])

    except OSError:
      pass
    
    continue

In [ ]:
location = pd.DataFrame(test)
country = country.join(location)
country = country.rename(columns={1:'location'})
country = country.drop(columns=0)

In [ ]:
country['lat'] = float(0)
country['lng'] = float(0)

for x in range(country.shape[0]):

  country['lat'][x] = country['location'][x]['lat'] 
  country['lng'][x] = country['location'][x]['lng']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
country.head()

                  country                     abv  ...        lat        lng
0                 Albania                 Albania  ...  41.153332  20.168331
1               Argentina               Argentina  ... -38.416097 -63.616672
2                 Austria                 Austria  ...  47.516231  14.550072
3                 Belgium                 Belgium  ...  50.503887   4.469936
4  Bosnia and Herzegovina  Bosnia and Herzegovina  ...  43.915886  17.679076

[5 rows x 6 columns]

In [ ]:
def Distance1(Lat_A,Lng_A,Lat_B,Lng_B): 
    ra=6378.140 #Equatorial radius
    rb=6356.755 #Polar radius（km）
    flatten=(ra-rb)/ra  #Earth skewness
    rad_lat_A=radians(Lat_A)
    rad_lng_A=radians(Lng_A)
    rad_lat_B=radians(Lat_B)
    rad_lng_B=radians(Lng_B)
    pA=atan(rb/ra*tan(rad_lat_A))
    pB=atan(rb/ra*tan(rad_lat_B))
    xx=acos(sin(pA)*sin(pB)+cos(pA)*cos(pB)*cos(rad_lng_A-rad_lng_B))
    c1=(sin(xx)-xx)*(sin(pA)+sin(pB))**2/cos(xx/2)**2
    c2=(sin(xx)+xx)*(sin(pA)-sin(pB))**2/sin(xx/2)**2
    dr=flatten/8*(c1-c2)
    distance=ra*(xx+dr)
    return distance

In [ ]:
geocode = google_maps.geocode('Germany')
loc_ger = geocode[0]["geometry"]['location']
name_ger = geocode[0]['formatted_address']
print(name_ger,loc_ger)

Germany {'lat': 51.165691, 'lng': 10.451526}

In [ ]:
for x in range(country.shape[0]):
  country['distance'][x] = Distance1(51.165691,10.451526,country['lat'][x],country['lng'][x])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
country['transport'] = country['distance'].apply( lambda x: 'by air' if x >= 2500 else 'by truck')

In [ ]:
country

                    country                     abv  ...         lng distance
0                   Albania                 Albania  ...   20.168331   1339.8
1                 Argentina               Argentina  ...  -63.616672  12257.1
2                   Austria                 Austria  ...   14.550072  503.265
3                   Belgium                 Belgium  ...    4.469936   427.64
4    Bosnia and Herzegovina  Bosnia and Herzegovina  ...   17.679076  971.467
..                      ...                     ...  ...         ...      ...
117                   Japan                   Japan  ...  138.252924  9071.06
118                Mongolia                Mongolia  ...  103.846656  6369.37
119                 Nigeria                 Nigeria  ...    8.675277  4669.04
120                Paraguay                Paraguay  ...  -58.443832  10645.1
121                 Belarus                 Belarus  ...   27.953389  1220.02

[122 rows x 7 columns]

**pollution info**

In [ ]:
pollution = pd.DataFrame({'transport':['by sea','by air','by truck'],'CO2 emission(kg/km)':(8,602,62)})

In [ ]:
pollution

  transport  CO2 emission(kg/km)
0    by sea                    8
1    by air                  602
2  by truck                   62